*{
    margin: 0;
    padding: 0;
}

table{
display: inline;


}
table tr{



}

table td{


}

table td.noclaskj{color: #fff;text-align: center;background-color: red;/* border: 1px solid; */font-size: 10px;}

table td.timeiid{/* font-weight: 800; */font-size: 9px;text-align: center;}
table td.timeiid span{
    font-weight: 800;
    font-size: 11px;
    }

table td.ojdnnn{

text-align: center;

font-size: 10px;
}

table td.ojdnnn span{

font-weight: 900;

font-size: 11px;
}

table td.ojdnnn p{

    
    }


.maindjjd{

text-align: center;

margin: 0;

padding: 0;


}

.contien{

/* display: flex; */

align-items: center;

text-align: center;

vertical-align: middle;

margin: 0;

padding: 0;
}

.contien img{

width: 5%;
}

.contien h1{
    font-size: 19px


}

.contien p{



}
