*{
    margin: 0;
    padding: 0;
}

table{



}
table tr{



}

table td{


}

table td.noclaskj{
color: #fff;
text-align: center;
background-color: red;
border: 1px solid;
}

table td.timeiid{
font-weight: 800;


}